@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,500;1,900&display=swap');

* {
	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
}

body {
  background: white;
  font-family: 'Roboto';

}

.kilig img {
	width: 400px;
	padding-top: 200px;
	border-radius: 20px;
}

.delas img {
	border-radius: 20px;
}

.fotos img {
	width:  400px;
    height: 400px;
    object-fit: cover;
	border-radius: 20px;
  }

  .fotos {
	padding-top: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	gap: 1em;
	border-radius: 20px;
  }

.kilig {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	gap: 1em;
	border-radius: 20px;
  }
  
  .container {
	/* position: fixed; */
	/* bottom: 0; */
	color: #f1f1f1;
  
  }
  
  .video-container{
	position: fixed;
	/* right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: 100vw; */
	width: auto;
	height: 120vh;
	z-index: -1;
  }
  
.ay {
	display: flex;
  }

.ay p {
	font-size: 1.5em;
	font-weight: 600;
}

  audio {
	display: none;
  }

.pedro {
	color: rgb(255, 90, 104) ;
	padding-top: 10px;
	
}

.ays {
	letter-spacing: 10px;
	text-shadow: 1px 1px 2px #000;
	display: flex;
	padding-top: 10px;
	justify-content: center;
	text-align: center;
	font-size: 10px;

}

  /* @media (min-width: 374px) {
	.kilig {
		padding-top: 50px;
	}
	.kilig img {
		width: 300px;
		margin-bottom: 80px;
	}
	.ay {
		font-size: 30px;
		padding-bottom: 50px;
	}
	.ays {
		font-size: 30px;
		padding-bottom: 220px;
	}
	#btn1 {
		font-size : 30px;
		width: 400px;
	}
  }

  
  @media (min-width: 2162px) {
	.kilig {
		padding-top: 0px;
	}
	.kilig img {
		width: 300px;
		margin-bottom: 20px;
	}
	.ay {
		font-size: 20px;
		padding-bottom: 20px;
	}
	.ays {
		font-size: 20px;
		padding-bottom: 20px;
	}
	#btn1 {
		font-size : 20px;
		width: 400px;
	}
  } */